# -*- mode: gitignore; -*-

*.elc
*.rel
*_archive
*_flymake.*
*~
.DS_Store
.\#*
.cask
.cask/
.dir-locals.el
.org-id-locations
.places
.projectile
.yas-compiled-snippets.el
/.chatgpt-shell.el
/.dap-breakpoints
/.emacs.desktop
/.emacs.desktop.lock
/.lsp-session-v1
/.sx/
/auto/
/eln-cache/
/elpa/
/ensime/
/eshell/
/eshell/history
/eshell/lastdir
/forge-database.sqlite
/history
/ido.last
/network-security.data
/projectile-bookmarks.eld
/projectile.cache
/recentf
/server/
/smex-items
/straight/
/transient/
/transient/history.el
/transient/values.el
/tree-sitter/
/url/
/var/
\#*\#
auto-save-list
backups
dist/
elpa
emms
flycheck_*.el
session.*
site-lisp/adventur-mode
swank
tramp
/quelpa/
